body {
  color: #f3f0f0; /* Usa un color hexadecimal, nombre, o RGB */
}
.texto-animado {
  animation: moverDerecha 3s linear infinite;
}

@keyframes moverDerecha {
  0% { transform: translateX(0); }
  50% { transform: translateX(200px); }
  100% { transform: translateX(0); }
}
DL{
   width: 100%;          
   height: 100%;
    max-width: 800px;     
    margin: 0 auto;       
    padding: 10px;
    border: 1px solid #ccc; 
}
